@model List<ElectronicWEB.Models.Item>
<!-- Cart -->

<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Giỏ Hàng</span>
        <div class="qty"> @(Model.Sum(x=>x.Quantity))</div>
    </a>
    <div class="cart-dropdown">
        <div class="cart-btns">
            <a href="/Cart/Index">View Cart</a>
            <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<!-- /Cart -->
