
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Blank.cshtml";
}
<div class="alert alert-success" style="margin-left:300px;width:800px">
    Bạn vừa mua hàng thành công.Thông tin đơn hàng sẽ được gửi đến Email của bạn trong ít phút nữa.

</div>

